<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加医院</title>
    <script type="text/javascript" src="/lib/jquery/jquery-3.1.0.min.js"></script>

</head>
<body>
<div >
        <div >
            <label style="float: left;position: relative;left: 20px"><span style="color: red;">*</span>医院编码：</label>
            <div  style="position: relative;left: 30px">
                <input type="text" value="" style="width: 300px" placeholder="" id="id_hos_num" name="hospital_number">
            </div>
            <div style="float: right;position: relative;left: -20px">
                <label id="ltips" style="color: red; display: " >已存在</label>
            </div>
        </div>

        <div >
            <label >医院名称：</label>
            <div >
                <input type="text" value="" placeholder="" id="id_hos_name" name="hospital_name">
            </div>
        </div>

        <div >
            <label >地区：</label>
            <div >
                <input type="text" class="input-text"  value="" placeholder="" id="id_zone" name="zone">
            </div>
        </div>


        <div class="row cl">
            <div >
                <button id="id_hos_add"  type="button">提交</button>
            </div>
        </div>
</div>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#id_hos_add').on('click',function () {
            alert('click');
        });

        $('#id_hos_num').on('blur',function () {
            alert('blur');
        });
    });
//    $(document).ready(function () {
//        $('#id_hos_add').on('click',function () {
//            alert('click');
////		if( submit == 1) {
////			$.post('/hospital/add_one', {
////						'zone': $('#id_zone').val(), 'hospital_name': $('#id_hos_name').val(),
////						'hospital_number': $('#id_hos_num').val()
////					},
////					function (data) {
//////					alert(data);
//////					layer_close();
////						var index = parent.layer.getFrameIndex(window.name);
////						parent.layer.close(index);
////
////					});
////		}
////		else{
////		}
//        });
//
//        $('#id_hos_num').on('blur',function () {
//            alert("blur");
//            //检查空
//            if( $(this).val().length <=0 ) {
//                $('#ltips').html('必填');
//                $('#ltips').show();
//                submit = 0;
//            }
//            else{
//                //检查存在
//                $.post('/hospital/hos_exist',{'hospital_number':$(this).val()},
//                        function (data) {
//                            if(data==1){//存在
//                                $('#ltips').html('已存在');
//                                $('#ltips').show();
//                                submit = 0;
//                            }
//                            else if(data==0) {
//                                submit = 1;
//                                $('#ltips').hide();
//                            }
//                            else{
//                                submit = 0;
//                            }
////				alert(data);
//                        })
////			$('#ltips').hide();
//
//            }
//
//        });
//
//    });
//
//    //$(function () {
//    //		$('#id_hos_add').on('click',function () {
//    //		$.post('/hospital/add_one',{'zone':$('#id_zone').val(),'hospital_name':$('#id_hos_name').val(),
//    //					'hospital_number':$('#id_hos_num').val()},
//    //				function(data) {
//    //						alert(data);
//    //					layer_close();
//    //		});
//    //	})
//    //})

</script>
</html>