<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />

<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>

<link rel="stylesheet" type="text/css" href="/DataTables-1.10.12/media/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.12/media/js/jquery.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>

<title>医院列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 医院管理 <span class="c-gray en">&gt;</span> 医院列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div>
		<input type="button" value="刷新" id="btnRef">
		<input type="button" value="删除" id="btnDel">
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="member_add('添加医院','hospital/add','','510')" end="" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加医院</a></span> <span class="r">共有数据：<strong>{$page_num}</strong> 条</span> </div>
	<div class="mt-20">
		<!--<table id= "hos_table" class="table table-border table-bordered table-bg table-hover table-sort">-->
			<!--<thead>-->
				<!--<tr class="text-c">-->
					<!--<th width="80">ID</th>-->
                    <!--<th width="80">信息版本</th>-->
					<!--<th width="80">地区</th>-->
                    <!--<th>医院名</th>-->
					<!--<th width="80">编号</th>-->
					<!--<th width="120">创建时间</th>-->
				<!--</tr>-->
			<!--</thead>-->
			<!--<tbody>-->
					<!--<tr class="text-c">-->
                    <!--</tr>-->

			<!--</tbody>-->
		<!--</table>-->

		<table id="hos_table" class="display">
			<thead>
			<tr>
				<th>hospital_no</th>
				<th>hospital_ver</th>
				<th>zone</th>
				<th>hospital_name</th>
				<th>hospital_number</th>
				<th>create_time</th>
			</tr>
			</thead>
			<tbody>
			<tr class="text-c">
			</tr>
			<!--<tr>-->
			<!--<td>Data 11</td>-->
			<!--<td>Data 12</td>-->
			<!--</tr>-->
			<!--<tr>-->
			<!--<td>Data 21</td>-->
			<!--<td>Data 22</td>-->
			<!--</tr>-->
			</tbody>
		</table>

	</div>


</div>


<script type="text/javascript">
	var tableHos;
	$(document).ready(function () {
		tableHos = $('#hos_table').dataTable({
			ajax:"http://localhost:8888/hospital/ajax_index",
			aaSorting: [[ 0, "desc" ]],
			columns: [
				{ data: 'hospital_no' },
				{ data: 'hospital_ver' },
				{ data: 'zone' },
				{ data: 'hospital_name' },
				{ data: 'hospital_number' },
				{ data: 'create_time' }
			],
			language: {
				'emptyTable': '没有数据',
				'loadingRecords': '加载中...',
				'processing': '查询中...',
				'search': '检索:',
				'lengthMenu': '每页 _MENU_ 件',
				'zeroRecords': '没有数据',
				'paginate': {
					'first':      '第一页',
					'last':       '最后一页',
					'next':       '',
					'previous':   ''
				},
				'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',
				'infoEmpty': '没有数据',
				'infoFiltered': '(过滤总件数 _MAX_ 条)'
			}
		});

		$('#btnRef').on('click',ajaxSyn);
		$('#hos_table tbody').on( 'click', 'tr', function () {
			$(this).toggleClass('selected');
		} );

		$('#btnDel').on('click',DelRow);

		function DelRow() {

			var rows = tableHos
					.rows('.selected')
					.remove()
					.draw();
			alert(rows);
		}

		function ajaxSyn() {
			alert('syn');
	//		table.ajax.refresh();
			tableHos.ajax.reload();
		}


		function member_add(title,url,w,h){
	//	var la1= layer_show(title,url,w,h);
			layer.open({
				type:2,
				title:title,
				area:['800px','600px'],
				content:url,
				end:function () {
					table.ajax.ajaxSyn();
	//            location.replace(location.href);
	//            alert("hgf");

				}
			});
		}

	});


</script>
</body>
</html>