<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备管理</title>
    <link rel="stylesheet" href="/css/chosen.css">
</head>
<body>
<select id="hospital" data-placeholder="请选择医院" style="width:210px;">
        <option value="-1"></option>
    <?php for($i=0;$i<$count;$i++){ ?>
        <option value={$data[$i]['hospital_no']}>{$data[$i]['name']}</option>
    <?php }?>
</select>

<input type="button" value="按钮" id='btn'>

</body>
<script src="/lib/jquery/jquery-3.1.0.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script>
    var hos = $('#hospital');
    $(function () {
        hos.chosen({
            no_results_text:'没有数据',
            search_contains:true,
            display_disabled_options:false
        });

        hos.change(function () {
            alert('change');
        });

        $('#btn').on('click',function () {
//            alert($('#hospital').val());
        });
    })


</script>
</html>